<label class="{{styles.input__label}}">
  <span class="visually-hidden {{styles.input__label-text}}">{{label}}</span>
  <input
    class="input {{styles.input__field}}"
    type="{{type}}"
    placeholder="{{placeholder}}"
    name="{{name}}"
    autofocus
  />
</label>