
  <button class="chat-item {{styles.chat-item}} {{unreadCountClass}} {{#if active}}{{styles.chat-item__active}}{{/if}}" data-id="{{id}}">
    <div class="{{styles.name}}">
      {{title}}
    </div>

    {{#with lastMessage}}
      <div class="{{styles.message}}">
        {{{text}}}
      </div>
    {{/with}}

    {{#if unreadCount}}
      <span class="{{styles.badge}}">
        {{unreadCount}}
      </span>
    {{/if}}
  </button>
