<section class="{{styles.info}}">
    <h1 class="h h_extra-large">{{info.title}}</h1>
    <p class="p {{styles.info__text}}">{{info.text}}</p>
    <a href="{{info.link}}" class="link {{styles.info__link}}">
        {{info.linkTitle}}
    </a>
</section>
