<section class="{{styles.info}}">
  <h1 class="h h_extra-large">{{title}}</h1>
  <p class="p {{styles.info__text}}">{{text}}</p>
  {{{BaseLink href=link title=linkTitle additionalStyles=styles.info__link_mbs ref=this.componentName}}}
</section>