<form class="{{styles.message}}">
  {{{ clipIcon }}}
  <label class="{{styles.message__label}}">
    <span class="visually-hidden">{{label}}</span>
    <input class="{{styles.message__input}}" type="text" placeholder="Сообщение" name="message" />
  </label>
  <button type="submit" class="{{styles.message__send-btn}}">{{{ sendMessageIcon }}}</button>
</form>
