<form class="{{styles.message}}">
  <img src="{{clipIcon}}" alt="Скрепка для нового сообщения">
  <label class="{{styles.message__label}}">
    <span class="visually-hidden">{{label}}</span>
    <input
          class="{{styles.message__input}}"
          type="text"
          placeholder="Сообщение"
          name="message"
    />
  </label>
  <img src="{{sendMessageIcon}}" alt="Скрепка для нового сообщения">
</form>