<form class="{{styles.message}}">
  <label class="loading-file {{styles.file-upload}}">
    <span class="visually-hidden">Загрузить файл</span>
    <input class="{{styles.file-upload__image}}" type="file" name="image" accept="image/*" />
    <span class="{{styles.file-upload__icon}}">{{{clipIcon}}}</span>
    <span class="{{styles.file-upload__info}}" id="fileInfo"></span>
  </label>
  <label class="{{styles.message__label}}">
    <span class="visually-hidden">{{label}}</span>
    <input
      class="{{styles.message__input}} {{styles.message__input_bg-default}}"
      type="text"
      placeholder="Сообщение"
      name="message"
      autofocus
    />
  </label>
  <button type="submit" class="{{styles.message__send-btn}}">{{{sendMessageIcon}}}</button>
</form>