<label class="{{styles.input__label}}">
  <span class="{{styles.input__label-text}}">{{input.label}}</span>
  <input
    class="input-auth {{editableClass}} {{styles.input__field}}"
    type="{{input.type}}"
    placeholder="{{input.placeholder}}"
    name="{{input.name}}"
    {{readonly}}
    value="{{input.value}}"
  />
</label>
