<label class="{{styles.input__label}} {{editableClass}}">
  <span class="{{styles.input__label-text}}">{{label}}</span>
  <input
    class="input-auth {{styles.input__field}} {{styles.input-editable__valid}}"
    type="{{type}}"
    placeholder="{{placeholder}}"
    name="{{name}}"
    {{readonly}}
    value="{{value}}"
  />
</label>