<label class="{{styles.input-auth__label}}">
  <span class="visually-hidden label-auth {{styles.input-auth__label-text}}">{{input.label}}</span>
  <input
    class="input-auth {{styles.input-auth__field}}"
    type="{{input.type}}"
    placeholder="{{input.placeholder}}"
    name="{{input.name}}"
  />
</label>
