<label class="{{styles.input-auth__label}}">
  <span class="visually-hidden label-auth {{styles.input-auth__label-text}}">{{label}}</span>
  <input
          class="input-auth {{styles.input-auth__field}}"
          type="{{type}}"
          placeholder="{{placeholder}}"
          name="{{name}}"
  />
</label>
