<div class="{{styles.auth-form__wrapper}}">
  <form class="{{styles.auth-form}}" data-id={{formType}}>
    <h1 class="h {{styles.auth-form__title}} {{styles.auth-form__title_mb}}">Вход</h1>

    <fieldset
      class="fieldset_border {{styles.auth-form__fieldset}} {{styles.login-form__fieldset_m}}"
    >
      {{#each data}}
        {{{InputAuth
          type=this.type
          label=this.label
          placeholder=this.placeholder
          name=this.name
          ref=this.componentName
          autofocus=@first
        }}}
      {{/each}}
    </fieldset>

    <div class="error-message">
      {{#if error}}
        Неверно заполненные поля
      {{/if}}
    </div>

    <div class="{{styles.auth-form__control}}">
      {{{BaseButton
        type="submit"
        title=formControl.buttonTitle
        additionalStyles=styles.auth-form__button_width
        ref=this.componentName
      }}}
      {{{BaseLink href=formControl.link title=formControl.linkTitle ref=this.componentName}}}
    </div>
  </form>

</div>