<div class="{{styles.login-form__wrapper}}">
  <form class="{{styles.login-form}}">
    <h1 class="h {{styles.login-form__title}} {{styles.login-form__title_mb}}">Вход</h1>

    <fieldset class="fieldset_border {{styles.login-form__fieldset}}">
      {{{inputs}}}
    </fieldset>

    <div class="{{styles.login-form__button-wrapper}} {{styles.login-form__button-wrapper_mt}}">
      {{{button}}}
      <a href="{{link}}" class="link navigation-link">
        {{linkTitle}}
      </a>
    </div>

  </form>
</div>