<div class="{{styles.profile__wrapper}}">
  {{{ BackButton }}}
<form class="profile {{styles.profile}}">
  {{{ Navigation }}}

  <div class="{{styles.profile__avatar}} {{styles.profile__avatar_mbe}}" id="avatar"></div>

  <div class="{{styles.profile__inputs}} {{styles.profile__inputs_mbe}}">
    {{#each passwordInputs}}
      {{{ Input
              type=this.type
              label=this.label
              placeholder=this.placeholder
              name=this.name
              ref=this.name
              isEditable=true
      }}}
    {{/each}}
  </div>

  {{{ BaseButton title=button.title styles=styles.profile__save-button }}}

</form>
</div>