<nav>
  <ul class="{{styles.menu}}">
    <li>
      <a href="{{chats}}" class="navigation-link {{styles.link}}">
        <span>Чаты</span>
      </a>
    </li>
    <li>
      <a href="{{profile}}" class="navigation-link {{styles.link}}">
        <span>Профиль</span>
      </a>
    </li>
    <li>
      <a href="{{login}}" class="navigation-link {{styles.link}}">
        <span>Логин</span>
      </a>
    </li>
    <li>
      <a href="{{registration}}" class="navigation-link {{styles.link}}">
        <span>Регистрация</span>
      </a>
    </li>
    <li>
      <a href="{{notFound}}" class="navigation-link {{styles.link}}">
        <span>Не найдено</span>
      </a>
    </li>
    <li>
      <a href="{{serverError}}" class="navigation-link {{styles.link}}">
        <span>Ошибка</span>
      </a>
    </li>
  </ul>
</nav>