<!--<aside class="sidebar">-->
<!--    <nav class="chat-list">-->
<!--        {{#each chats}}-->
<!--            {{> chat-item}}-->
<!--        {{/each}}-->
<!--    </nav>-->
<!--</aside>-->

<aside class="{{styles.sidebar}}">
    <nav>
        <ul class="{{styles.menu}}">
            <li>
                <a href="{{URLS.chats}}" class="navigation-link {{styles.link}}">
                    <span>Чаты</span>
                </a>
            </li>
            <li>
                <a href="{{URLS.profile}}" class="navigation-link {{styles.link}}">
                    <span>Профиль</span>
                </a>
            </li>
            <li>
                <a href="{{URLS.registration}}" class="navigation-link {{styles.link}}">
                    <span>Регистрация</span>
                </a>
            </li>
        </ul>
    </nav>

    <nav class="{{styles.chatList}}">
        {{{chats}}}
    </nav>
</aside>
