<div class="{{styles.profile__wrapper}}">
  {{{BackButton ref=this.componentName}}}
  <section class="{{styles.profile}}">
    {{{Navigation ref=this.componentName}}}

    <div class = "{{styles.edit-profile__avatar-wrapper}} {{styles.profile__avatar-wrapper_mbe}}">
      <img class="{{styles.profile__avatar}}" src="{{user.avatar}}" alt="" data-name="avatar-img">
    </div>

    <h1
      class="h {{styles.profile__user-name}} {{styles.profile__user-name_mbe}}"
    >{{user.firstName}}</h1>

    <div class="{{styles.profile__inputs}} {{styles.profile__inputs_mbe}}">
      {{#each profileInputs}}
        {{{Input
          type=this.type
          label=this.label
          placeholder=this.placeholder
          name=this.name
          ref=this.componentName
          value=(lookup @root.user this.name)
        }}}
      {{/each}}
    </div>

    <nav class="{{styles.profile__nav}} {{styles.profile__nav_mbe}}">
      {{#each profileLinks}}
        <div>
          {{{BaseLink title=title href=type ref=this.componentName}}}
        </div>
      {{/each}}
    </nav>

    {{{BaseLink title=exitLinkTitle href=loginLink color="red" ref=this.componentName type="exit"}}}

  </section>
</div>