<section class="{{styles.profile}}">


    <div class="{{styles.profile__avatar}} {{styles.profile__avatar_mbe}}" id="avatar">
    </div>

  <h1 class="h {{styles.profile__user-name}} {{styles.profile__user-name_mbe}}">{{userName}}</h1>

    <div class="{{styles.profile__inputs}} {{styles.profile__inputs_mbe}}">
      {{{profileInputs}}}
    </div>

  <nav class="{{styles.profile__nav}} {{styles.profile__nav_mbe}}">{{{editLinks}}}</nav>

  {{{exitLink}}}



</section>