<section class="{{styles.chat}}">
  <div>Header</div>
  <div class="{{styles.chat__messages}}">
    {{{MessageIn ref=this.componentName}}}
    {{{MessageOut ref=this.componentName}}}
  </div>

  {{{Message ref=this.componentName}}}
</section>