<div class="{{styles.profile__wrapper}}">
  {{{BackButton ref=this.componentName}}}
  <form class="profile {{styles.profile}}">
    {{{Navigation ref=this.componentName}}}
    <div class="{{styles.profile__avatar}} {{styles.edit-profile__avatar_mbe}}" id="avatar"></div>

    <div class="{{styles.profile__inputs}} {{styles.profile__inputs_mbe}}">
      {{#each profileInputs}}
        {{{Input
          type=this.type
          label=this.label
          placeholder=this.placeholder
          name=this.name
          ref=this.componentName
          value=(lookup @root.user this.name)
          isEditable=true
        }}}
      {{/each}}
    </div>

    <div class="error-message">
      {{#if error}}
        Неверно заполненные поля
      {{/if}}
    </div>

    {{{BaseButton title=button additionalStyles=styles.profile__save-button ref=this.componentName}}}

  </form>
</div>