<form class="profile {{styles.profile}}">

  <div class="{{styles.profile__avatar}} {{styles.edit-profile__avatar_mbe}}" id="avatar"></div>

  <div class="{{styles.profile__inputs}} {{styles.profile__inputs_mbe}}">
    {{{profileInputs}}}
  </div>

  {{{saveBtn}}}

</form>
